body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top, .bottom{
    display: flex;
    flex-direction: row;
}
.strength, .weakness, .oppurtunity, .threats{
    width: 30vw;
    height: 25vw;
    text-align: center;
    border: 2px solid black;
    margin: 3px;
}
.strength p, .oppurtunity p{
    color: white;
    background-color: green;
    width: 30vw;
    height: 50px;
    margin-top: 0px;
    padding-top: 10px;
    font-size: 30px;
}
.weakness p, .threats p{
    color: white;
    background-color: red;
    width: 30vw;
    height: 50px;
    margin-top: 0px;
    padding-top: 10px;
    font-size: 30px;
}